:root {
  --mc: 3, 4, 94;
  /* --mc: 3, 26, 61; */
  --sc: 164, 130, 109;
  --tc: 247, 230, 218;
  --shadow: 0 25px 60px #e6e5f5;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
body {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(var(--mc));
  background: #F0F0F4;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: rgba(var(--mc));
}
a:hover {
  text-decoration: none;
}
p > a, li > a {
  text-decoration: underline;
}
button {
  border: none;
  outline: none;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}
input {
  border: none;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  border: none;
  max-width: 100%
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
input:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.px-5 {
  padding: 25px 0px;
}
.p-r {
  position: relative;
  min-height: 80vh;
}
.loading {
  width: 10%;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
  border-radius: 100%;
  box-shadow: var(--shadow-medium);
}

